@import '../../../../../styles';

.contentPage{
    border: none;
    box-shadow: none;
}
.titlePage{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.btnAction{
    width: 98%;
    text-align: end;
    margin: 1rem 0rem;
}

.btnAction > button{
    background-color: #23395B;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 3rem;

}

.btnActionSec{
    background-color: #8EA8C3 !important;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 3rem;
    margin-left: 1rem;

}

mat-form-field{
    margin: 0.9rem 0rem;
}
