<div>
    <h1 class="titlePage">alunos na aula: {{aula.aula.nome}}</h1>
    <div class="btnBack">
      <span (click)="back.emit(false)">voltar</span>
    </div>
    <div class="contentPage">
    <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> R.A </th>
            <td mat-cell *matCellDef="let row"> {{row.RA}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> nome </th>
            <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
          </ng-container>
    
          <ng-container matColumnDef="presenca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> presença </th>
            <td mat-cell *matCellDef="let row"> 
              <span class="material-icons" *ngIf="row.presenca == true" style="color: green;" (click)='alterarPresenca(row)'> 
                check_circle_outline
              </span>
              <span class="material-icons" *ngIf="row.presenca == false" style="color: red;" (click)='alterarPresenca(row)'>
                cancel
              </span>
              <span class="material-icons" *ngIf="row.presenca == null" style="color: orange;" (click)='alterarPresenca(row)'>
                hourglass_empty
              </span>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, dataSource.data.length]"></mat-paginator>
    </div>
</div>
