<h1 class="titlePage">cadastrar usuários</h1>
<div class="contentPage">
  <div class="form-container">
    <form [formGroup]="cadAluno" (submit)="submit()">
      <mat-form-field appearance="fill" style="width: 95%;">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />
        <mat-error *ngIf="cadAluno.controls.nome.errors?.required"
          >campo obrigatório</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" />
        <mat-error *ngIf="cadAluno.controls.login.errors?.required"
          >campo obrigatório</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="cadAluno.controls.password.errors?.required"
          >campo obrigatório</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="aluno">aluno</mat-option>
          <mat-option value="secretaria">secretaria</mat-option>
          <mat-option value="professor">professor</mat-option>
        </mat-select>
        <mat-error *ngIf="cadAluno.controls.tipo.errors?.required"
          >campo obrigatório</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Funcional / RA</mat-label>
        <input matInput formControlName="funcRA" />
        <mat-error *ngIf="cadAluno.controls.funcRA.errors?.required"
          >campo obrigatório</mat-error
        >
      </mat-form-field>
    </form>
    <div class="btnAction">
      <button mat-raised-button (click)="submit()" [disabled]="tookPhoto">
        cadastrar
      </button>
      <button mat-raised-button class="btnActionSec" (click)="capturePhoto()">
        tirar foto
      </button>
    </div>
  </div>
</div>
