@import '../../../../../styles';

.form-container{
    margin-top: 2rem;
}

.btnAction{
    width: 98%;
    text-align: end;
    margin: 1rem 0rem;
}

.btnAction > button{
    background-color: #23395B;
    color: white;
    font-size: 1.2rem;
    height: 3rem;

}

.btnActionSec{
    background-color: #8EA8C3 !important;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 3rem;
    margin-left: 1rem;

}

.btnBack{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btnBack > span{
    cursor: pointer;
    font-size: 1rem;
    color: #23395B;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

mat-form-field{
    width: 45%;
    margin: 1rem 2.5%;
}

::ng-deep .mat-snack-bar-container{
    background-color: #23395B;
    color: white;
}

::ng-deep .mat-button-wrapper{
    color: #ffffff;
}